In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
sale={}
for i in [2024,2023]:
    sale.update({i:pd.read_html('monthly_sales_by_category/'+str(i)+'.html')[2]})

In [3]:
sale[2024]

,Type,Group,Maker/Brand,Jan.,Feb.,Mar.,Apr.,May,Jun.,First Half (Jan.-Jun.),Jul.,Aug.,Sep.,Oct.,Nov.,Dec.,Second Half (Jul.-Dec.),Adjusted value,Total
0,Cars,VW Group,VW,1879,1631,1847,1183,1610,1656,9806.0,1766.0,1876.0,-,-,-,-,3642.0,-,13448.0
1,Cars,VW Group,Audi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-,NaN,-,NaN
2,Cars,VW Group,Skoda,1242,1028,1374,1266,1542,1231,7683.0,793.0,1125.0,-,-,-,-,1918.0,-,9601.0
3,Cars,VW Group,Porsche (2013-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-,NaN,-,NaN
4,Cars,VW Group,VW Group Total,3121,2659,3221,2449,3152,2887,17489.0,2559.0,3001.0,-,-,-,-,5560.0,-,23049.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,Buses,Small and Medium OEM,EKA Mobility,-,-,-,1,1,1,3.0,NaN,NaN,-,-,-,-,NaN,-,3.0
106,Buses,Small and Medium OEM,Olectra,45,43,42,0,0,0,130.0,NaN,NaN,-,-,-,-,NaN,-,130.0
107,Buses,Small and Medium OEM,Small and Medium OEM Total,45,43,42,1,1,1,133.0,NaN,NaN,-,-,-,-,NaN,-,133.0
108,Buses,Buses Total,Buses Total,6965,6558,6525,5494,5743,5617,36902.0,NaN,NaN,-,-,-,-,NaN,-,36902.0
109,Grand Total,Grand Total,Grand Total,487786,459797,456289,409143,424502,416570,2654087.0,296785.0,308779.0,-,-,-,-,605564.0,-,3259651.0

In [4]:
sale[2024].columns

Index(['Type', 'Group', 'Maker/Brand', 'Jan.', 'Feb.', 'Mar.', 'Apr.', 'May',
       'Jun.', 'First Half (Jan.-Jun.)', 'Jul.', 'Aug.', 'Sep.', 'Oct.',
       'Nov.', 'Dec.', 'Second Half (Jul.-Dec.)', 'Adjusted value', 'Total'],
      dtype='object')

In [5]:
sale[2024].drop(columns=['Group','First Half (Jan.-Jun.)','Second Half (Jul.-Dec.)',
                         'Adjusted value','Total'],axis=1,inplace=True)

In [6]:
sale[2024]

,Type,Maker/Brand,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.
0,Cars,VW,1879,1631,1847,1183,1610,1656,1766.0,1876.0,-,-,-,-
1,Cars,Audi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-
2,Cars,Skoda,1242,1028,1374,1266,1542,1231,793.0,1125.0,-,-,-,-
3,Cars,Porsche (2013-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-
4,Cars,VW Group Total,3121,2659,3221,2449,3152,2887,2559.0,3001.0,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,Buses,EKA Mobility,-,-,-,1,1,1,NaN,NaN,-,-,-,-
106,Buses,Olectra,45,43,42,0,0,0,NaN,NaN,-,-,-,-
107,Buses,Small and Medium OEM Total,45,43,42,1,1,1,NaN,NaN,-,-,-,-
108,Buses,Buses Total,6965,6558,6525,5494,5743,5617,NaN,NaN,-,-,-,-
109,Grand Total,Grand Total,487786,459797,456289,409143,424502,416570,296785.0,308779.0,-,-,-,-

In [7]:
sale[2024][sale[2024]['Type'].notna()]

,Type,Maker/Brand,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.
0,Cars,VW,1879,1631,1847,1183,1610,1656,1766.0,1876.0,-,-,-,-
1,Cars,Audi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-
2,Cars,Skoda,1242,1028,1374,1266,1542,1231,793.0,1125.0,-,-,-,-
3,Cars,Porsche (2013-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-
4,Cars,VW Group Total,3121,2659,3221,2449,3152,2887,2559.0,3001.0,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,Buses,EKA Mobility,-,-,-,1,1,1,NaN,NaN,-,-,-,-
106,Buses,Olectra,45,43,42,0,0,0,NaN,NaN,-,-,-,-
107,Buses,Small and Medium OEM Total,45,43,42,1,1,1,NaN,NaN,-,-,-,-
108,Buses,Buses Total,6965,6558,6525,5494,5743,5617,NaN,NaN,-,-,-,-
109,Grand Total,Grand Total,487786,459797,456289,409143,424502,416570,296785.0,308779.0,-,-,-,-

In [8]:
for indx,value in zip(range(0,len(sale[2024])),sale[2024]['Type'].values):
    if value == 'Cars':
        sale[2024].iloc[indx,0] = 'PassengerCar'
        continue
    elif value == 'UVs/MPVs':
        sale[2024].iloc[indx,0] = 'SUV'
        continue
    elif value == 'Light Trucks':
        sale[2024].iloc[indx,0] = 'LightTruck'
        continue

In [9]:
sale[2024]

,Type,Maker/Brand,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.
0,PassengerCar,VW,1879,1631,1847,1183,1610,1656,1766.0,1876.0,-,-,-,-
1,PassengerCar,Audi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-
2,PassengerCar,Skoda,1242,1028,1374,1266,1542,1231,793.0,1125.0,-,-,-,-
3,PassengerCar,Porsche (2013-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-
4,PassengerCar,VW Group Total,3121,2659,3221,2449,3152,2887,2559.0,3001.0,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,Buses,EKA Mobility,-,-,-,1,1,1,NaN,NaN,-,-,-,-
106,Buses,Olectra,45,43,42,0,0,0,NaN,NaN,-,-,-,-
107,Buses,Small and Medium OEM Total,45,43,42,1,1,1,NaN,NaN,-,-,-,-
108,Buses,Buses Total,6965,6558,6525,5494,5743,5617,NaN,NaN,-,-,-,-
109,Grand Total,Grand Total,487786,459797,456289,409143,424502,416570,296785.0,308779.0,-,-,-,-

In [10]:
sale[2024][sale[2024]['Type']=='Buses'].index[0]

94

In [11]:
sale[2024].drop(index=list(range(sale[2024][sale[2024]['Type']=='Medium/Heavy Trucks'].index[0],len(sale[2024]))),
                axis=0,inplace=True)

In [12]:
sale[2024]

,Type,Maker/Brand,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.
0,PassengerCar,VW,1879,1631,1847,1183,1610,1656,1766.0,1876.0,-,-,-,-
1,PassengerCar,Audi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-
2,PassengerCar,Skoda,1242,1028,1374,1266,1542,1231,793.0,1125.0,-,-,-,-
3,PassengerCar,Porsche (2013-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-
4,PassengerCar,VW Group Total,3121,2659,3221,2449,3152,2887,2559.0,3001.0,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,LightTruck,Ashok Leyland (2022-),6237,5871,5843,5002,5229,5114,NaN,NaN,-,-,-,-
75,LightTruck,Ashok Leyland Group (2022-) Total,6237,5871,5843,5002,5229,5114,NaN,NaN,-,-,-,-
76,LightTruck,EKA Mobility,-,-,-,1,1,0,NaN,NaN,-,-,-,-
77,LightTruck,Small and Medium OEM Total,-,-,-,1,1,0,NaN,NaN,-,-,-,-
78,LightTruck,Light Trucks Total,54995,52380,50904,46822,45834,46132,NaN,NaN,-,-,-,-

In [13]:
sale[2024][sale[2024]['Maker/Brand'].isna()]

Empty DataFrame
Columns: [Type, Maker/Brand, Jan., Feb., Mar., Apr., May, Jun., Jul., Aug., Sep., Oct., Nov., Dec.]
Index: []

In [14]:
sale[2024].drop(index=sale[2024][sale[2024]['Maker/Brand'].isna()].index,axis=0,inplace=True)

In [15]:
sale[2024]

,Type,Maker/Brand,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.
0,PassengerCar,VW,1879,1631,1847,1183,1610,1656,1766.0,1876.0,-,-,-,-
1,PassengerCar,Audi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-
2,PassengerCar,Skoda,1242,1028,1374,1266,1542,1231,793.0,1125.0,-,-,-,-
3,PassengerCar,Porsche (2013-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-
4,PassengerCar,VW Group Total,3121,2659,3221,2449,3152,2887,2559.0,3001.0,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,LightTruck,Ashok Leyland (2022-),6237,5871,5843,5002,5229,5114,NaN,NaN,-,-,-,-
75,LightTruck,Ashok Leyland Group (2022-) Total,6237,5871,5843,5002,5229,5114,NaN,NaN,-,-,-,-
76,LightTruck,EKA Mobility,-,-,-,1,1,0,NaN,NaN,-,-,-,-
77,LightTruck,Small and Medium OEM Total,-,-,-,1,1,0,NaN,NaN,-,-,-,-
78,LightTruck,Light Trucks Total,54995,52380,50904,46822,45834,46132,NaN,NaN,-,-,-,-

In [16]:
sale[2024][['Maker/Brand']][sale[2024]['Maker/Brand'].str.contains('Total')].head()

                           Maker/Brand
4                       VW Group Total
6                   Toyota Group Total
8        Renault-Nissan Alliance Total
10  Hyundai Kia Automotive Group Total
12                    Ford Group Total

In [17]:
sale[2024].drop(index=sale[2024][['Maker/Brand']][sale[2024]['Maker/Brand'].str.contains('Total')].index,
                axis=0,inplace=True)

In [18]:
sale[2024].head(10)

,Type,Maker/Brand,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.
0,PassengerCar,VW,1879,1631,1847,1183,1610,1656,1766.0,1876.0,-,-,-,-
1,PassengerCar,Audi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-
2,PassengerCar,Skoda,1242,1028,1374,1266,1542,1231,793.0,1125.0,-,-,-,-
3,PassengerCar,Porsche (2013-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-
5,PassengerCar,Toyota,4052,4791,4551,4559,4639,4261,4962.0,4778.0,-,-,-,-
7,PassengerCar,Renault,856,828,928,977,743,603,565.0,634.0,-,-,-,-
9,PassengerCar,Hyundai,21632,16809,16784,16413,16311,15986,16036.0,15776.0,-,-,-,-
11,PassengerCar,Ford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-
13,PassengerCar,Honda,4095,3958,3794,2620,3269,2653,3284.0,3603.0,-,-,-,-
15,PassengerCar,Suzuki,92745,86890,82263,69339,78838,74016,69245.0,69406.0,-,-,-,-

In [19]:
sale[2024].iloc[:,2:-4] = sale[2024].iloc[:,2:-4].replace('-',np.nan)

In [20]:
sale[2024].dropna(axis=0,thresh=12,inplace=True)

In [21]:
sale[2024]

,Type,Maker/Brand,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.
0,PassengerCar,VW,1879,1631,1847,1183,1610,1656,1766.0,1876.0,-,-,-,-
2,PassengerCar,Skoda,1242,1028,1374,1266,1542,1231,793.0,1125.0,-,-,-,-
5,PassengerCar,Toyota,4052,4791,4551,4559,4639,4261,4962.0,4778.0,-,-,-,-
7,PassengerCar,Renault,856,828,928,977,743,603,565.0,634.0,-,-,-,-
9,PassengerCar,Hyundai,21632,16809,16784,16413,16311,15986,16036.0,15776.0,-,-,-,-
13,PassengerCar,Honda,4095,3958,3794,2620,3269,2653,3284.0,3603.0,-,-,-,-
15,PassengerCar,Suzuki,92745,86890,82263,69339,78838,74016,69245.0,69406.0,-,-,-,-
21,PassengerCar,Tata,14094,13268,13204,12249,12804,12525,NaN,NaN,-,-,-,-
29,SUV,VW,1388,1388,1682,1866,1663,1604,1641.0,1701.0,-,-,-,-
30,SUV,Skoda,1135,1226,1430,1313,1342,1335,1310.0,1647.0,-,-,-,-
32,SUV,Toyota,19138,18502,20521,14117,19289,21476,24564.0,23810.0,-,-,-,-
34,SUV,Nissan,2863,2755,2701,2404,2211,2107,1995.0,2257.0,-,-,-,-
35,SUV,Renault,2970,3252,3297,2730,2966,2950,2267.0,2384.0,-,-,-,-
37,SUV,Jeep (2021-),396,331,425,377,341,281,273.0,340.0,-,-,-,-
38,SUV,Citroen (2021-),650,421,1006,404,515,339,335.0,1275.0,-,-,-,-
40,SUV,Hyundai,35479,33390,36213,33788,32840,34117,32976.0,33749.0,-,-,-,-
41,SUV,Kia,23769,20200,21400,19968,19500,21300,20507.0,22523.0,-,-,-,-
45,SUV,Honda,4586,3184,3277,1731,1553,2151,1340.0,1723.0,-,-,-,-
47,SUV,Suzuki,74057,73381,70455,68613,65164,63144,68218.0,73669.0,-,-,-,-
49,SUV,Tata,41000,38594,38405,34439,36001,35214,NaN,NaN,-,-,-,-
51,SUV,Mahindra & Mahindra,43068,42401,40631,41008,43218,40022,41623.0,43277.0,-,-,-,-
53,SUV,Isuzu,64,23,32,21,36,52,22.0,19.0,-,-,-,-
55,SUV,Force Motors,451,98,73,93,173,166,162.0,220.0,-,-,-,-
57,SUV,MG (2006-),2922,3030,3292,2956,3032,2783,2900.0,2987.0,-,-,-,-
60,LightTruck,Toyota,21,20,20,23,24,23,NaN,NaN,-,-,-,-
62,LightTruck,Suzuki,3412,3126,3612,2496,2692,2758,NaN,NaN,-,-,-,-
64,LightTruck,Tata,17624,16590,16510,13735,14358,14045,NaN,NaN,-,-,-,-
66,LightTruck,Mahindra & Mahindra,22696,22062,20230,21535,19318,20070,NaN,NaN,-,-,-,-
68,LightTruck,Isuzu,1055,993,989,852,890,871,NaN,NaN,-,-,-,-
70,LightTruck,Eicher Motors,1344,1265,1259,990,1035,1013,NaN,NaN,-,-,-,-
72,LightTruck,Force Motors,2606,2453,2441,2188,2287,2238,NaN,NaN,-,-,-,-
74,LightTruck,Ashok Leyland (2022-),6237,5871,5843,5002,5229,5114,NaN,NaN,-,-,-,-

In [22]:
for value in sale[2024][sale[2024]['Maker/Brand'].str.contains(r'\W\d{4}-\W')][['Maker/Brand']].iterrows():
    to_fill= value[1].values[0][:-8]
    sale[2024].loc[value[0],'Maker/Brand']=to_fill

In [23]:
sale[2024]

,Type,Maker/Brand,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.
0,PassengerCar,VW,1879,1631,1847,1183,1610,1656,1766.0,1876.0,-,-,-,-
2,PassengerCar,Skoda,1242,1028,1374,1266,1542,1231,793.0,1125.0,-,-,-,-
5,PassengerCar,Toyota,4052,4791,4551,4559,4639,4261,4962.0,4778.0,-,-,-,-
7,PassengerCar,Renault,856,828,928,977,743,603,565.0,634.0,-,-,-,-
9,PassengerCar,Hyundai,21632,16809,16784,16413,16311,15986,16036.0,15776.0,-,-,-,-
13,PassengerCar,Honda,4095,3958,3794,2620,3269,2653,3284.0,3603.0,-,-,-,-
15,PassengerCar,Suzuki,92745,86890,82263,69339,78838,74016,69245.0,69406.0,-,-,-,-
21,PassengerCar,Tata,14094,13268,13204,12249,12804,12525,NaN,NaN,-,-,-,-
29,SUV,VW,1388,1388,1682,1866,1663,1604,1641.0,1701.0,-,-,-,-
30,SUV,Skoda,1135,1226,1430,1313,1342,1335,1310.0,1647.0,-,-,-,-
32,SUV,Toyota,19138,18502,20521,14117,19289,21476,24564.0,23810.0,-,-,-,-
34,SUV,Nissan,2863,2755,2701,2404,2211,2107,1995.0,2257.0,-,-,-,-
35,SUV,Renault,2970,3252,3297,2730,2966,2950,2267.0,2384.0,-,-,-,-
37,SUV,Jeep,396,331,425,377,341,281,273.0,340.0,-,-,-,-
38,SUV,Citroen,650,421,1006,404,515,339,335.0,1275.0,-,-,-,-
40,SUV,Hyundai,35479,33390,36213,33788,32840,34117,32976.0,33749.0,-,-,-,-
41,SUV,Kia,23769,20200,21400,19968,19500,21300,20507.0,22523.0,-,-,-,-
45,SUV,Honda,4586,3184,3277,1731,1553,2151,1340.0,1723.0,-,-,-,-
47,SUV,Suzuki,74057,73381,70455,68613,65164,63144,68218.0,73669.0,-,-,-,-
49,SUV,Tata,41000,38594,38405,34439,36001,35214,NaN,NaN,-,-,-,-
51,SUV,Mahindra & Mahindra,43068,42401,40631,41008,43218,40022,41623.0,43277.0,-,-,-,-
53,SUV,Isuzu,64,23,32,21,36,52,22.0,19.0,-,-,-,-
55,SUV,Force Motors,451,98,73,93,173,166,162.0,220.0,-,-,-,-
57,SUV,MG,2922,3030,3292,2956,3032,2783,2900.0,2987.0,-,-,-,-
60,LightTruck,Toyota,21,20,20,23,24,23,NaN,NaN,-,-,-,-
62,LightTruck,Suzuki,3412,3126,3612,2496,2692,2758,NaN,NaN,-,-,-,-
64,LightTruck,Tata,17624,16590,16510,13735,14358,14045,NaN,NaN,-,-,-,-
66,LightTruck,Mahindra & Mahindra,22696,22062,20230,21535,19318,20070,NaN,NaN,-,-,-,-
68,LightTruck,Isuzu,1055,993,989,852,890,871,NaN,NaN,-,-,-,-
70,LightTruck,Eicher Motors,1344,1265,1259,990,1035,1013,NaN,NaN,-,-,-,-
72,LightTruck,Force Motors,2606,2453,2441,2188,2287,2238,NaN,NaN,-,-,-,-
74,LightTruck,Ashok Leyland,6237,5871,5843,5002,5229,5114,NaN,NaN,-,-,-,-

In [24]:
sale[2024].dtypes

Type            object
Maker/Brand     object
Jan.            object
Feb.            object
Mar.            object
Apr.            object
May             object
Jun.            object
Jul.           float64
Aug.           float64
Sep.            object
Oct.            object
Nov.            object
Dec.            object
dtype: object

In [25]:
sale[2024][['Jan.', 'Feb.', 'Mar.', 'Apr.', 'May', 'Jun.', 'Jul.', 'Aug.']] = sale[2024][['Jan.', 'Feb.', 'Mar.', 'Apr.', 'May', 'Jun.', 'Jul.', 'Aug.']].astype('float')

In [26]:
sale[2024].dtypes

Type            object
Maker/Brand     object
Jan.           float64
Feb.           float64
Mar.           float64
Apr.           float64
May            float64
Jun.           float64
Jul.           float64
Aug.           float64
Sep.            object
Oct.            object
Nov.            object
Dec.            object
dtype: object

In [27]:
months = ['Jan.', 'Feb.', 'Mar.', 'Apr.', 'May', 'Jun.', 'Jul.', 'Aug.']
sale[2024][months] = sale[2024][months].apply(lambda row : row.fillna(np.ceil(row.mean())),axis=1)

In [28]:
sale[2024]

,Type,Maker/Brand,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.
0,PassengerCar,VW,1879.0,1631.0,1847.0,1183.0,1610.0,1656.0,1766.0,1876.0,-,-,-,-
2,PassengerCar,Skoda,1242.0,1028.0,1374.0,1266.0,1542.0,1231.0,793.0,1125.0,-,-,-,-
5,PassengerCar,Toyota,4052.0,4791.0,4551.0,4559.0,4639.0,4261.0,4962.0,4778.0,-,-,-,-
7,PassengerCar,Renault,856.0,828.0,928.0,977.0,743.0,603.0,565.0,634.0,-,-,-,-
9,PassengerCar,Hyundai,21632.0,16809.0,16784.0,16413.0,16311.0,15986.0,16036.0,15776.0,-,-,-,-
13,PassengerCar,Honda,4095.0,3958.0,3794.0,2620.0,3269.0,2653.0,3284.0,3603.0,-,-,-,-
15,PassengerCar,Suzuki,92745.0,86890.0,82263.0,69339.0,78838.0,74016.0,69245.0,69406.0,-,-,-,-
21,PassengerCar,Tata,14094.0,13268.0,13204.0,12249.0,12804.0,12525.0,13024.0,13024.0,-,-,-,-
29,SUV,VW,1388.0,1388.0,1682.0,1866.0,1663.0,1604.0,1641.0,1701.0,-,-,-,-
30,SUV,Skoda,1135.0,1226.0,1430.0,1313.0,1342.0,1335.0,1310.0,1647.0,-,-,-,-
32,SUV,Toyota,19138.0,18502.0,20521.0,14117.0,19289.0,21476.0,24564.0,23810.0,-,-,-,-
34,SUV,Nissan,2863.0,2755.0,2701.0,2404.0,2211.0,2107.0,1995.0,2257.0,-,-,-,-
35,SUV,Renault,2970.0,3252.0,3297.0,2730.0,2966.0,2950.0,2267.0,2384.0,-,-,-,-
37,SUV,Jeep,396.0,331.0,425.0,377.0,341.0,281.0,273.0,340.0,-,-,-,-
38,SUV,Citroen,650.0,421.0,1006.0,404.0,515.0,339.0,335.0,1275.0,-,-,-,-
40,SUV,Hyundai,35479.0,33390.0,36213.0,33788.0,32840.0,34117.0,32976.0,33749.0,-,-,-,-
41,SUV,Kia,23769.0,20200.0,21400.0,19968.0,19500.0,21300.0,20507.0,22523.0,-,-,-,-
45,SUV,Honda,4586.0,3184.0,3277.0,1731.0,1553.0,2151.0,1340.0,1723.0,-,-,-,-
47,SUV,Suzuki,74057.0,73381.0,70455.0,68613.0,65164.0,63144.0,68218.0,73669.0,-,-,-,-
49,SUV,Tata,41000.0,38594.0,38405.0,34439.0,36001.0,35214.0,37276.0,37276.0,-,-,-,-
51,SUV,Mahindra & Mahindra,43068.0,42401.0,40631.0,41008.0,43218.0,40022.0,41623.0,43277.0,-,-,-,-
53,SUV,Isuzu,64.0,23.0,32.0,21.0,36.0,52.0,22.0,19.0,-,-,-,-
55,SUV,Force Motors,451.0,98.0,73.0,93.0,173.0,166.0,162.0,220.0,-,-,-,-
57,SUV,MG,2922.0,3030.0,3292.0,2956.0,3032.0,2783.0,2900.0,2987.0,-,-,-,-
60,LightTruck,Toyota,21.0,20.0,20.0,23.0,24.0,23.0,22.0,22.0,-,-,-,-
62,LightTruck,Suzuki,3412.0,3126.0,3612.0,2496.0,2692.0,2758.0,3016.0,3016.0,-,-,-,-
64,LightTruck,Tata,17624.0,16590.0,16510.0,13735.0,14358.0,14045.0,15477.0,15477.0,-,-,-,-
66,LightTruck,Mahindra & Mahindra,22696.0,22062.0,20230.0,21535.0,19318.0,20070.0,20986.0,20986.0,-,-,-,-
68,LightTruck,Isuzu,1055.0,993.0,989.0,852.0,890.0,871.0,942.0,942.0,-,-,-,-
70,LightTruck,Eicher Motors,1344.0,1265.0,1259.0,990.0,1035.0,1013.0,1151.0,1151.0,-,-,-,-
72,LightTruck,Force Motors,2606.0,2453.0,2441.0,2188.0,2287.0,2238.0,2369.0,2369.0,-,-,-,-
74,LightTruck,Ashok Leyland,6237.0,5871.0,5843.0,5002.0,5229.0,5114.0,5550.0,5550.0,-,-,-,-

In [29]:
sale[2024]['Annual']=sale[2024][months].sum(axis=1)

In [30]:
sale[2024]['Monthly Avg']=np.round(sale[2024][months].mean(axis=1))

In [31]:
sale[2024].reset_index(drop=True,inplace=True)

In [32]:
sale[2024]

,Type,Maker/Brand,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.,Annual,Monthly Avg
0,PassengerCar,VW,1879.0,1631.0,1847.0,1183.0,1610.0,1656.0,1766.0,1876.0,-,-,-,-,13448.0,1681.0
1,PassengerCar,Skoda,1242.0,1028.0,1374.0,1266.0,1542.0,1231.0,793.0,1125.0,-,-,-,-,9601.0,1200.0
2,PassengerCar,Toyota,4052.0,4791.0,4551.0,4559.0,4639.0,4261.0,4962.0,4778.0,-,-,-,-,36593.0,4574.0
3,PassengerCar,Renault,856.0,828.0,928.0,977.0,743.0,603.0,565.0,634.0,-,-,-,-,6134.0,767.0
4,PassengerCar,Hyundai,21632.0,16809.0,16784.0,16413.0,16311.0,15986.0,16036.0,15776.0,-,-,-,-,135747.0,16968.0
5,PassengerCar,Honda,4095.0,3958.0,3794.0,2620.0,3269.0,2653.0,3284.0,3603.0,-,-,-,-,27276.0,3410.0
6,PassengerCar,Suzuki,92745.0,86890.0,82263.0,69339.0,78838.0,74016.0,69245.0,69406.0,-,-,-,-,622742.0,77843.0
7,PassengerCar,Tata,14094.0,13268.0,13204.0,12249.0,12804.0,12525.0,13024.0,13024.0,-,-,-,-,104192.0,13024.0
8,SUV,VW,1388.0,1388.0,1682.0,1866.0,1663.0,1604.0,1641.0,1701.0,-,-,-,-,12933.0,1617.0
9,SUV,Skoda,1135.0,1226.0,1430.0,1313.0,1342.0,1335.0,1310.0,1647.0,-,-,-,-,10738.0,1342.0
10,SUV,Toyota,19138.0,18502.0,20521.0,14117.0,19289.0,21476.0,24564.0,23810.0,-,-,-,-,161417.0,20177.0
11,SUV,Nissan,2863.0,2755.0,2701.0,2404.0,2211.0,2107.0,1995.0,2257.0,-,-,-,-,19293.0,2412.0
12,SUV,Renault,2970.0,3252.0,3297.0,2730.0,2966.0,2950.0,2267.0,2384.0,-,-,-,-,22816.0,2852.0
13,SUV,Jeep,396.0,331.0,425.0,377.0,341.0,281.0,273.0,340.0,-,-,-,-,2764.0,346.0
14,SUV,Citroen,650.0,421.0,1006.0,404.0,515.0,339.0,335.0,1275.0,-,-,-,-,4945.0,618.0
15,SUV,Hyundai,35479.0,33390.0,36213.0,33788.0,32840.0,34117.0,32976.0,33749.0,-,-,-,-,272552.0,34069.0
16,SUV,Kia,23769.0,20200.0,21400.0,19968.0,19500.0,21300.0,20507.0,22523.0,-,-,-,-,169167.0,21146.0
17,SUV,Honda,4586.0,3184.0,3277.0,1731.0,1553.0,2151.0,1340.0,1723.0,-,-,-,-,19545.0,2443.0
18,SUV,Suzuki,74057.0,73381.0,70455.0,68613.0,65164.0,63144.0,68218.0,73669.0,-,-,-,-,556701.0,69588.0
19,SUV,Tata,41000.0,38594.0,38405.0,34439.0,36001.0,35214.0,37276.0,37276.0,-,-,-,-,298205.0,37276.0
20,SUV,Mahindra & Mahindra,43068.0,42401.0,40631.0,41008.0,43218.0,40022.0,41623.0,43277.0,-,-,-,-,335248.0,41906.0
21,SUV,Isuzu,64.0,23.0,32.0,21.0,36.0,52.0,22.0,19.0,-,-,-,-,269.0,34.0
22,SUV,Force Motors,451.0,98.0,73.0,93.0,173.0,166.0,162.0,220.0,-,-,-,-,1436.0,180.0
23,SUV,MG,2922.0,3030.0,3292.0,2956.0,3032.0,2783.0,2900.0,2987.0,-,-,-,-,23902.0,2988.0
24,LightTruck,Toyota,21.0,20.0,20.0,23.0,24.0,23.0,22.0,22.0,-,-,-,-,175.0,22.0
25,LightTruck,Suzuki,3412.0,3126.0,3612.0,2496.0,2692.0,2758.0,3016.0,3016.0,-,-,-,-,24128.0,3016.0
26,LightTruck,Tata,17624.0,16590.0,16510.0,13735.0,14358.0,14045.0,15477.0,15477.0,-,-,-,-,123816.0,15477.0
27,LightTruck,Mahindra & Mahindra,22696.0,22062.0,20230.0,21535.0,19318.0,20070.0,20986.0,20986.0,-,-,-,-,167883.0,20985.0
28,LightTruck,Isuzu,1055.0,993.0,989.0,852.0,890.0,871.0,942.0,942.0,-,-,-,-,7534.0,942.0
29,LightTruck,Eicher Motors,1344.0,1265.0,1259.0,990.0,1035.0,1013.0,1151.0,1151.0,-,-,-,-,9208.0,1151.0
30,LightTruck,Force Motors,2606.0,2453.0,2441.0,2188.0,2287.0,2238.0,2369.0,2369.0,-,-,-,-,18951.0,2369.0
31,LightTruck,Ashok Leyland,6237.0,5871.0,5843.0,5002.0,5229.0,5114.0,5550.0,5550.0,-,-,-,-,44396.0,5550.0

In [33]:
months = sale[2024].columns[2:-6]
months

Index(['Jan.', 'Feb.', 'Mar.', 'Apr.', 'May', 'Jun.', 'Jul.', 'Aug.'], dtype='object')

In [34]:
sale[2024].replace('-',0)

,Type,Maker/Brand,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.,Annual,Monthly Avg
0,PassengerCar,VW,1879.0,1631.0,1847.0,1183.0,1610.0,1656.0,1766.0,1876.0,0,0,0,0,13448.0,1681.0
1,PassengerCar,Skoda,1242.0,1028.0,1374.0,1266.0,1542.0,1231.0,793.0,1125.0,0,0,0,0,9601.0,1200.0
2,PassengerCar,Toyota,4052.0,4791.0,4551.0,4559.0,4639.0,4261.0,4962.0,4778.0,0,0,0,0,36593.0,4574.0
3,PassengerCar,Renault,856.0,828.0,928.0,977.0,743.0,603.0,565.0,634.0,0,0,0,0,6134.0,767.0
4,PassengerCar,Hyundai,21632.0,16809.0,16784.0,16413.0,16311.0,15986.0,16036.0,15776.0,0,0,0,0,135747.0,16968.0
5,PassengerCar,Honda,4095.0,3958.0,3794.0,2620.0,3269.0,2653.0,3284.0,3603.0,0,0,0,0,27276.0,3410.0
6,PassengerCar,Suzuki,92745.0,86890.0,82263.0,69339.0,78838.0,74016.0,69245.0,69406.0,0,0,0,0,622742.0,77843.0
7,PassengerCar,Tata,14094.0,13268.0,13204.0,12249.0,12804.0,12525.0,13024.0,13024.0,0,0,0,0,104192.0,13024.0
8,SUV,VW,1388.0,1388.0,1682.0,1866.0,1663.0,1604.0,1641.0,1701.0,0,0,0,0,12933.0,1617.0
9,SUV,Skoda,1135.0,1226.0,1430.0,1313.0,1342.0,1335.0,1310.0,1647.0,0,0,0,0,10738.0,1342.0
10,SUV,Toyota,19138.0,18502.0,20521.0,14117.0,19289.0,21476.0,24564.0,23810.0,0,0,0,0,161417.0,20177.0
11,SUV,Nissan,2863.0,2755.0,2701.0,2404.0,2211.0,2107.0,1995.0,2257.0,0,0,0,0,19293.0,2412.0
12,SUV,Renault,2970.0,3252.0,3297.0,2730.0,2966.0,2950.0,2267.0,2384.0,0,0,0,0,22816.0,2852.0
13,SUV,Jeep,396.0,331.0,425.0,377.0,341.0,281.0,273.0,340.0,0,0,0,0,2764.0,346.0
14,SUV,Citroen,650.0,421.0,1006.0,404.0,515.0,339.0,335.0,1275.0,0,0,0,0,4945.0,618.0
15,SUV,Hyundai,35479.0,33390.0,36213.0,33788.0,32840.0,34117.0,32976.0,33749.0,0,0,0,0,272552.0,34069.0
16,SUV,Kia,23769.0,20200.0,21400.0,19968.0,19500.0,21300.0,20507.0,22523.0,0,0,0,0,169167.0,21146.0
17,SUV,Honda,4586.0,3184.0,3277.0,1731.0,1553.0,2151.0,1340.0,1723.0,0,0,0,0,19545.0,2443.0
18,SUV,Suzuki,74057.0,73381.0,70455.0,68613.0,65164.0,63144.0,68218.0,73669.0,0,0,0,0,556701.0,69588.0
19,SUV,Tata,41000.0,38594.0,38405.0,34439.0,36001.0,35214.0,37276.0,37276.0,0,0,0,0,298205.0,37276.0
20,SUV,Mahindra & Mahindra,43068.0,42401.0,40631.0,41008.0,43218.0,40022.0,41623.0,43277.0,0,0,0,0,335248.0,41906.0
21,SUV,Isuzu,64.0,23.0,32.0,21.0,36.0,52.0,22.0,19.0,0,0,0,0,269.0,34.0
22,SUV,Force Motors,451.0,98.0,73.0,93.0,173.0,166.0,162.0,220.0,0,0,0,0,1436.0,180.0
23,SUV,MG,2922.0,3030.0,3292.0,2956.0,3032.0,2783.0,2900.0,2987.0,0,0,0,0,23902.0,2988.0
24,LightTruck,Toyota,21.0,20.0,20.0,23.0,24.0,23.0,22.0,22.0,0,0,0,0,175.0,22.0
25,LightTruck,Suzuki,3412.0,3126.0,3612.0,2496.0,2692.0,2758.0,3016.0,3016.0,0,0,0,0,24128.0,3016.0
26,LightTruck,Tata,17624.0,16590.0,16510.0,13735.0,14358.0,14045.0,15477.0,15477.0,0,0,0,0,123816.0,15477.0
27,LightTruck,Mahindra & Mahindra,22696.0,22062.0,20230.0,21535.0,19318.0,20070.0,20986.0,20986.0,0,0,0,0,167883.0,20985.0
28,LightTruck,Isuzu,1055.0,993.0,989.0,852.0,890.0,871.0,942.0,942.0,0,0,0,0,7534.0,942.0
29,LightTruck,Eicher Motors,1344.0,1265.0,1259.0,990.0,1035.0,1013.0,1151.0,1151.0,0,0,0,0,9208.0,1151.0
30,LightTruck,Force Motors,2606.0,2453.0,2441.0,2188.0,2287.0,2238.0,2369.0,2369.0,0,0,0,0,18951.0,2369.0
31,LightTruck,Ashok Leyland,6237.0,5871.0,5843.0,5002.0,5229.0,5114.0,5550.0,5550.0,0,0,0,0,44396.0,5550.0

In [35]:
sale[2024].insert(2,'Year',2024)

In [36]:
sale[2024]

,Type,Maker/Brand,Year,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.,Annual,Monthly Avg
0,PassengerCar,VW,2024,1879.0,1631.0,1847.0,1183.0,1610.0,1656.0,1766.0,1876.0,-,-,-,-,13448.0,1681.0
1,PassengerCar,Skoda,2024,1242.0,1028.0,1374.0,1266.0,1542.0,1231.0,793.0,1125.0,-,-,-,-,9601.0,1200.0
2,PassengerCar,Toyota,2024,4052.0,4791.0,4551.0,4559.0,4639.0,4261.0,4962.0,4778.0,-,-,-,-,36593.0,4574.0
3,PassengerCar,Renault,2024,856.0,828.0,928.0,977.0,743.0,603.0,565.0,634.0,-,-,-,-,6134.0,767.0
4,PassengerCar,Hyundai,2024,21632.0,16809.0,16784.0,16413.0,16311.0,15986.0,16036.0,15776.0,-,-,-,-,135747.0,16968.0
5,PassengerCar,Honda,2024,4095.0,3958.0,3794.0,2620.0,3269.0,2653.0,3284.0,3603.0,-,-,-,-,27276.0,3410.0
6,PassengerCar,Suzuki,2024,92745.0,86890.0,82263.0,69339.0,78838.0,74016.0,69245.0,69406.0,-,-,-,-,622742.0,77843.0
7,PassengerCar,Tata,2024,14094.0,13268.0,13204.0,12249.0,12804.0,12525.0,13024.0,13024.0,-,-,-,-,104192.0,13024.0
8,SUV,VW,2024,1388.0,1388.0,1682.0,1866.0,1663.0,1604.0,1641.0,1701.0,-,-,-,-,12933.0,1617.0
9,SUV,Skoda,2024,1135.0,1226.0,1430.0,1313.0,1342.0,1335.0,1310.0,1647.0,-,-,-,-,10738.0,1342.0
10,SUV,Toyota,2024,19138.0,18502.0,20521.0,14117.0,19289.0,21476.0,24564.0,23810.0,-,-,-,-,161417.0,20177.0
11,SUV,Nissan,2024,2863.0,2755.0,2701.0,2404.0,2211.0,2107.0,1995.0,2257.0,-,-,-,-,19293.0,2412.0
12,SUV,Renault,2024,2970.0,3252.0,3297.0,2730.0,2966.0,2950.0,2267.0,2384.0,-,-,-,-,22816.0,2852.0
13,SUV,Jeep,2024,396.0,331.0,425.0,377.0,341.0,281.0,273.0,340.0,-,-,-,-,2764.0,346.0
14,SUV,Citroen,2024,650.0,421.0,1006.0,404.0,515.0,339.0,335.0,1275.0,-,-,-,-,4945.0,618.0
15,SUV,Hyundai,2024,35479.0,33390.0,36213.0,33788.0,32840.0,34117.0,32976.0,33749.0,-,-,-,-,272552.0,34069.0
16,SUV,Kia,2024,23769.0,20200.0,21400.0,19968.0,19500.0,21300.0,20507.0,22523.0,-,-,-,-,169167.0,21146.0
17,SUV,Honda,2024,4586.0,3184.0,3277.0,1731.0,1553.0,2151.0,1340.0,1723.0,-,-,-,-,19545.0,2443.0
18,SUV,Suzuki,2024,74057.0,73381.0,70455.0,68613.0,65164.0,63144.0,68218.0,73669.0,-,-,-,-,556701.0,69588.0
19,SUV,Tata,2024,41000.0,38594.0,38405.0,34439.0,36001.0,35214.0,37276.0,37276.0,-,-,-,-,298205.0,37276.0
20,SUV,Mahindra & Mahindra,2024,43068.0,42401.0,40631.0,41008.0,43218.0,40022.0,41623.0,43277.0,-,-,-,-,335248.0,41906.0
21,SUV,Isuzu,2024,64.0,23.0,32.0,21.0,36.0,52.0,22.0,19.0,-,-,-,-,269.0,34.0
22,SUV,Force Motors,2024,451.0,98.0,73.0,93.0,173.0,166.0,162.0,220.0,-,-,-,-,1436.0,180.0
23,SUV,MG,2024,2922.0,3030.0,3292.0,2956.0,3032.0,2783.0,2900.0,2987.0,-,-,-,-,23902.0,2988.0
24,LightTruck,Toyota,2024,21.0,20.0,20.0,23.0,24.0,23.0,22.0,22.0,-,-,-,-,175.0,22.0
25,LightTruck,Suzuki,2024,3412.0,3126.0,3612.0,2496.0,2692.0,2758.0,3016.0,3016.0,-,-,-,-,24128.0,3016.0
26,LightTruck,Tata,2024,17624.0,16590.0,16510.0,13735.0,14358.0,14045.0,15477.0,15477.0,-,-,-,-,123816.0,15477.0
27,LightTruck,Mahindra & Mahindra,2024,22696.0,22062.0,20230.0,21535.0,19318.0,20070.0,20986.0,20986.0,-,-,-,-,167883.0,20985.0
28,LightTruck,Isuzu,2024,1055.0,993.0,989.0,852.0,890.0,871.0,942.0,942.0,-,-,-,-,7534.0,942.0
29,LightTruck,Eicher Motors,2024,1344.0,1265.0,1259.0,990.0,1035.0,1013.0,1151.0,1151.0,-,-,-,-,9208.0,1151.0
30,LightTruck,Force Motors,2024,2606.0,2453.0,2441.0,2188.0,2287.0,2238.0,2369.0,2369.0,-,-,-,-,18951.0,2369.0
31,LightTruck,Ashok Leyland,2024,6237.0,5871.0,5843.0,5002.0,5229.0,5114.0,5550.0,5550.0,-,-,-,-,44396.0,5550.0

In [37]:
pd.read_csv(os.getcwd()+'/cleaned/2023_monthly_category_sales.csv',index_col=0)

,Type,Maker/Brand,Year,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.,Annual,Monthly Avg
0,PassengerCar,VW,2023,1379.0,1563.0,1791.0,1481.0,1631.0,1812.0,1737.0,2140.0,1791.0,1772.0,1174.0,2199.0,20470.0,1706.0
1,PassengerCar,Skoda,2023,1609.0,1446.0,1764.0,1707.0,1705.0,1639.0,1654.0,1657.0,1581.0,1943.0,1749.0,1960.0,20414.0,1701.0
2,PassengerCar,Toyota,2023,3386.0,4290.0,3463.0,3716.0,5321.0,3651.0,5092.0,5114.0,4986.0,4921.0,4148.0,4268.0,52356.0,4363.0
3,PassengerCar,Renault,2023,59.0,1758.0,1283.0,1082.0,797.0,1349.0,762.0,883.0,747.0,869.0,610.0,457.0,10656.0,888.0
4,PassengerCar,Hyundai,2023,22574.0,24493.0,23429.0,22397.0,20873.0,21391.0,17710.0,19670.0,18214.0,20173.0,15986.0,14345.0,241255.0,20105.0
5,PassengerCar,Honda,2023,7638.0,6086.0,6689.0,5313.0,4660.0,5080.0,4864.0,5058.0,4176.0,4443.0,3975.0,3526.0,61508.0,5126.0
6,PassengerCar,Suzuki,2023,100286.0,102565.0,83714.0,90062.0,84647.0,80269.0,78040.0,85509.0,80394.0,95925.0,74916.0,48787.0,1005114.0,83760.0
7,PassengerCar,Tata,2023,15618.0,15295.0,15301.0,17074.0,17320.0,16832.0,17740.0,18396.0,18584.0,14099.0,11894.0,10032.0,188185.0,15682.0
8,SUV,VW,2023,1527.0,1748.0,2089.0,1551.0,1655.0,1582.0,2077.0,2034.0,1777.0,2317.0,1921.0,2731.0,23009.0,1917.0
9,SUV,Skoda,2023,2209.0,1972.0,2668.0,2302.0,1842.0,2327.0,2553.0,2650.0,2451.0,2623.0,2034.0,2710.0,28341.0,2362.0
10,SUV,Toyota,2023,9448.0,11033.0,14984.0,10180.0,13758.0,14268.0,15451.0,15830.0,17171.0,15600.0,12754.0,17095.0,167572.0,13964.0
11,SUV,Nissan,2023,2803.0,2184.0,3260.0,2617.0,2618.0,2552.0,2152.0,2258.0,2453.0,2573.0,2662.0,2150.0,30282.0,2524.0
12,SUV,Renault,2023,2949.0,4858.0,4106.0,3241.0,3828.0,4101.0,2845.0,2750.0,2622.0,2992.0,1842.0,1531.0,37665.0,3139.0
13,SUV,Jeep,2023,685.0,917.0,680.0,558.0,734.0,493.0,429.0,299.0,481.0,507.0,406.0,436.0,6625.0,552.0
14,SUV,Citroen,2023,804.0,328.0,2015.0,1003.0,806.0,1003.0,388.0,525.0,748.0,630.0,537.0,650.0,9437.0,786.0
15,SUV,Hyundai,2023,27532.0,22508.0,27171.0,27304.0,27728.0,28610.0,32991.0,34160.0,36027.0,34955.0,33465.0,28403.0,360854.0,30071.0
16,SUV,Kia,2023,28634.0,24600.0,21501.0,23216.0,18766.0,19391.0,20002.0,19219.0,20022.0,24351.0,22762.0,12536.0,255000.0,21250.0
17,SUV,Honda,2023,183.0,0.0,3.0,0.0,0.0,0.0,0.0,2822.0,5685.0,4957.0,4755.0,4376.0,22781.0,1898.0
18,SUV,Suzuki,2023,47062.0,44902.0,49049.0,47258.0,59061.0,52758.0,74086.0,70605.0,70418.0,72122.0,59242.0,55991.0,702554.0,58546.0
19,SUV,Tata,2023,30446.0,29817.0,29827.0,30617.0,31058.0,30181.0,27986.0,29022.0,29317.0,40773.0,34409.0,29016.0,372469.0,31039.0
20,SUV,Mahindra & Mahindra,2023,33040.0,30358.0,35997.0,34698.0,32886.0,32588.0,36205.0,37270.0,41267.0,43708.0,39981.0,35174.0,433172.0,36098.0
21,SUV,Isuzu,2023,95.0,66.0,321.0,34.0,39.0,30.0,33.0,30.0,45.0,70.0,48.0,67.0,878.0,73.0
22,SUV,Force Motors,2023,77.0,60.0,2.0,0.0,8.0,233.0,142.0,119.0,97.0,86.0,67.0,381.0,1272.0,106.0
23,SUV,MG,2023,4114.0,4193.0,6051.0,4551.0,4276.0,3941.0,3308.0,3113.0,3755.0,3840.0,3028.0,3145.0,47315.0,3943.0
24,LightTruck,Toyota,2023,81.0,79.0,79.0,295.0,299.0,290.0,82.0,85.0,86.0,-292.0,-246.0,-207.0,631.0,53.0
25,LightTruck,Suzuki,2023,4019.0,3356.0,4024.0,2199.0,2888.0,2992.0,2559.0,2564.0,2294.0,3894.0,2509.0,1714.0,35012.0,2918.0
26,LightTruck,Tata,2023,19026.0,18633.0,18640.0,15001.0,15217.0,14789.0,16504.0,17115.0,17290.0,17618.0,14867.0,12537.0,197237.0,16436.0
27,LightTruck,Mahindra & Mahindra,2023,20998.0,20146.0,21537.0,19585.0,19421.0,20289.0,20322.0,22962.0,23335.0,24984.0,21580.0,17380.0,252539.0,21045.0
28,LightTruck,Isuzu,2023,813.0,796.0,798.0,852.0,865.0,840.0,682.0,708.0,715.0,685.0,578.0,489.0,8821.0,735.0
29,LightTruck,Eicher Motors,2023,1255.0,1229.0,1230.0,1046.0,1061.0,1031.0,1019.0,1057.0,1068.0,1131.0,955.0,805.0,12887.0,1074.0
30,LightTruck,Force Motors,2023,1889.0,1850.0,1850.0,1830.0,1857.0,1804.0,2168.0,2248.0,2272.0,2018.0,1702.0,1436.0,22924.0,1910.0
31,LightTruck,Ashok Leyland,2023,6367.0,6235.0,6238.0,4940.0,5011.0,4870.0,5511.0,5715.0,5772.0,6599.0,5568.0,4696.0,67522.0,5627.0
32,HeavyTruck,Tata,2023,16975.0,16624.0,16629.0,10552.0,10704.0,10404.0,13602.0,14105.0,14249.0,16010.0,13510.0,11393.0,164757.0,13730.0
33,HeavyTruck,Mahindra & Mahindra,2023,726.0,697.0,745.0,646.0,641.0,670.0,576.0,651.0,662.0,731.0,631.0,508.0,7884.0,657.0
34,HeavyTruck,Isuzu,2023,175.0,171.0,172.0,156.0,158.0,153.0,170.0,176.0,178.0,202.0,171.0,144.0,2026.0,169.0
35,HeavyTruck,Volvo Trucks,2023,113.0,111.0,111.0,107.0,109.0,105.0,128.0,133.0,134.0,151.0,127.0,107.0,1436.0,120.0
36,HeavyTruck,Eicher Motors,2023,5490.0,5377.0,5379.0,3740.0,3794.0,3687.0,3929.0,4074.0,4115.0,5304.0,4476.0,3774.0,53139.0,4428.0
37,HeavyTruck,Ashok Leyland,2023,11433.0,11197.0,11200.0,7069.0,7171.0,6969.0,8316.0,8624.0,8712.0,9159.0,7729.0,6518.0,104097.0,8675.0

In [38]:
sale={}

for year in [2024,2023]:
    
    sale.update({year:pd.read_html('monthly_sales_by_category/'+str(year)+'.html')[2]})
    
    sale[year].drop(columns=['Group','First Half (Jan.-Jun.)','Second Half (Jul.-Dec.)',
                         'Adjusted value','Total'],axis=1,inplace=True)
    
    sale[year].drop(index=list(range(sale[year][sale[year]['Type']=='Medium/Heavy Trucks'].index[0],len(sale[year]))),
                axis=0,inplace=True)
    
    for indx,value in zip(range(0,len(sale[year])),sale[year]['Type'].values):
        if value == 'Cars':
            sale[year].iloc[indx,0] = 'PassengerCar'
            continue
        elif value == 'UVs/MPVs':
            sale[year].iloc[indx,0] = 'SUV'
            continue
        elif value == 'Light Trucks':
            sale[year].iloc[indx,0] = 'LightTruck'
            continue
    
    sale[year].drop(index=sale[year][sale[year]['Maker/Brand'].isna()].index,axis=0,inplace=True)
    
    sale[year].drop(index=sale[year][['Maker/Brand']][sale[year]['Maker/Brand'].str.contains('Total')].index,
                axis=0,inplace=True)
    
    sale[year].iloc[:,2:-4] = sale[year].iloc[:,2:-4].replace('-',np.nan)
    
    sale[year].dropna(axis=0,thresh=8,inplace=True)
    
    for value in sale[year][sale[year]['Maker/Brand'].str.contains(r'\W\d{4}-\W')][['Maker/Brand']].iterrows():
        to_fill= value[1].values[0][:-8]
        sale[year].loc[value[0],'Maker/Brand']=to_fill
        
    if year==2024:
        months = sale[year].columns[2:-4]
        sale[year].replace('-',0,inplace=True)
    else:
        months = sale[year].columns[2:]
        
    
    sale[year][months] = sale[year][months].astype('float')
    
    sale[year][months] = sale[year][months].apply(lambda row : row.fillna(np.ceil(row.mean())),axis=1)
    
    sale[year].insert(2,'Year',year)
    
    sale[year]['Annual']=sale[year][months].sum(axis=1)
    
    sale[year]['Monthly Avg']=np.round(sale[year][months].mean(axis=1))
    
    sale[year].reset_index(drop=True,inplace=True)
    
    file_name = os.getcwd()+'/testing_cleaned/'+str(year)+'_monthly_category_sales.csv'
    
    sale[year].to_csv(file_name)
    
    if year==2024:
        master_data = sale[year]
    else:
        master_data = pd.concat([master_data,sale[year]],axis=0,ignore_index=True)
    
master_data
master_data.to_csv(os.getcwd()+'/testing_cleaned/'+'monthly_sales_master_data.csv')

In [39]:
master_data

,Type,Maker/Brand,Year,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.,Annual,Monthly Avg
0,PassengerCar,VW,2024,1879.0,1631.0,1847.0,1183.0,1610.0,1656.0,1766.0,1876.0,0.0,0.0,0.0,0.0,13448.0,1681.0
1,PassengerCar,Skoda,2024,1242.0,1028.0,1374.0,1266.0,1542.0,1231.0,793.0,1125.0,0.0,0.0,0.0,0.0,9601.0,1200.0
2,PassengerCar,Toyota,2024,4052.0,4791.0,4551.0,4559.0,4639.0,4261.0,4962.0,4778.0,0.0,0.0,0.0,0.0,36593.0,4574.0
3,PassengerCar,Renault,2024,856.0,828.0,928.0,977.0,743.0,603.0,565.0,634.0,0.0,0.0,0.0,0.0,6134.0,767.0
4,PassengerCar,Hyundai,2024,21632.0,16809.0,16784.0,16413.0,16311.0,15986.0,16036.0,15776.0,0.0,0.0,0.0,0.0,135747.0,16968.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,LightTruck,Mahindra & Mahindra,2023,20998.0,20146.0,21537.0,19585.0,19421.0,20289.0,20322.0,22962.0,23335.0,24984.0,21580.0,17380.0,252539.0,21045.0
62,LightTruck,Isuzu,2023,813.0,796.0,798.0,852.0,865.0,840.0,682.0,708.0,715.0,685.0,578.0,489.0,8821.0,735.0
63,LightTruck,Eicher Motors,2023,1255.0,1229.0,1230.0,1046.0,1061.0,1031.0,1019.0,1057.0,1068.0,1131.0,955.0,805.0,12887.0,1074.0
64,LightTruck,Force Motors,2023,1889.0,1850.0,1850.0,1830.0,1857.0,1804.0,2168.0,2248.0,2272.0,2018.0,1702.0,1436.0,22924.0,1910.0
65,LightTruck,Ashok Leyland,2023,6367.0,6235.0,6238.0,4940.0,5011.0,4870.0,5511.0,5715.0,5772.0,6599.0,5568.0,4696.0,67522.0,5627.0

In [40]:
master_data.dtypes

Type            object
Maker/Brand     object
Year             int64
Jan.           float64
Feb.           float64
Mar.           float64
Apr.           float64
May            float64
Jun.           float64
Jul.           float64
Aug.           float64
Sep.           float64
Oct.           float64
Nov.           float64
Dec.           float64
Annual         float64
Monthly Avg    float64
dtype: object

___